models/hand_keypoints_classifier_new.pt filter=lfs diff=lfs merge=lfs -text
models/hand_landmarker.task filter=lfs diff=lfs merge=lfs -text
models/mlp_hand_sign_classifier.pt filter=lfs diff=lfs merge=lfs -text
